[submodule "extern/scummvm"]
	path = extern/scummvm
	url = https://github.com/scummvm/scummvm
[submodule "extern/retroarch"]
	path = extern/retroarch
	url = https://github.com/XboxEmulationHub/RetroArch.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
